{%- liquid
  assign subcollections = collection.metafields.custom.subcollections.value
  assign image_sizes = '(min-width: 720px) calc(calc(100vw - calc(2 * clamp(24px, 2vw, 36px))) / [[nc]]), calc(calc(100vw - calc(2 * 16px)) / [[mc]])'
  assign image_sizes = image_sizes | replace: '[[nc]]', section.settings.num_columns | replace: '[[mc]]', section.settings.num_columns_mobile
-%}

<div
  class="
    list-collections
    page
    section
    {% if settings.enable_section_animations and section.settings.section_style_enable_animation %}
      animation
      animation--list-collections
    {% endif %}
  "
  data-section-id="{{ section.id }}"
  data-section-type="list-collections"
>
  <div class="section-inner">
    <div class="list-collections__inner page__inner">
      <div
        class="list-collections__grid standard-grid-spacing"
        data-standard-grid-spacing-type="collection-list"
        data-collection-item-style="{{ section.settings.collection_item_style }}"
        style="
          --num-columns-desktop: {{ section.settings.num_columns }};
          --num-columns-mobile: {{ section.settings.num_columns_mobile }};
          --collection-item-image-padding: {{ section.settings.image_spacing }}px;
        "
      >
        {% if subcollections != blank %}
          {% for subcollection in subcollections -%}
            {% if subcollection.handle == collection.handle %}
              {% continue %}
            {% endif %}
            {%
              render 'collection-item',
              coll: subcollection,
              show_product_counts: section.settings.show_product_counts,
              image_source: section.settings.image_source,
              image_aspect_ratio: section.settings.image_aspect_ratio,
              image_circle_crop_enable: section.settings.image_circle_crop_enable,
              image_sizes: image_sizes,
              title_font_type: section.settings.title_font_type,
              title_font_size: 3,
              text_alignment: section.settings.text_alignment,
            -%}
          {%- endfor %}
        {% else %}
          <p class="ta-c">No subcollections found.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Subcollections grid",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "num_columns",
      "label": "t:shared.settings.num_columns.label",
      "options": [
        {
          "value": "4",
          "label": "t:shared.settings.num_columns.options.4"
        },
        {
          "value": "5",
          "label": "t:shared.settings.num_columns.options.5"
        },
        {
          "value": "6",
          "label": "t:shared.settings.num_columns.options.6"
        }
      ],
      "default": "5"
    },
    {
      "type": "select",
      "id": "num_columns_mobile",
      "label": "t:shared.settings.num_columns.label_mobile",
      "options": [
        {
          "value": "2",
          "label": "t:shared.settings.num_columns.options.2"
        },
        {
          "value": "3",
          "label": "t:shared.settings.num_columns.options.3"
        }
      ],
      "default": "2"
    },
    {
      "type": "header",
      "content": "t:sections.collection_sections_shared.settings.header__collection_items.content"
    },
    {
      "type": "checkbox",
      "id": "show_product_counts",
      "label": "t:sections.collection_sections_shared.settings.show_product_counts.label",
      "default": false
    },
    {
      "type": "select",
      "id": "collection_item_style",
      "label": "t:shared.settings.collection_listing.collection_item_style.label",
      "options": [
        {
          "value": "plain",
          "label": "t:shared.settings.collection_listing.collection_item_style.option_plain"
        },
        {
          "value": "filled",
          "label": "t:shared.settings.collection_listing.collection_item_style.option_filled"
        },
        {
          "value": "outlined",
          "label": "t:shared.settings.collection_listing.collection_item_style.option_outlined"
        }
      ],
      "default": "outlined"
    },
    {
      "type": "select",
      "id": "image_source",
      "label": "t:shared.settings.collection_listing.image_source.label",
      "options": [
        {
          "value": "collection",
          "label": "t:shared.settings.collection_listing.image_source.option_collection"
        },
        {
          "value": "product",
          "label": "t:shared.settings.collection_listing.image_source.option_product"
        }
      ],
      "default": "collection"
    },
    {
      "type": "select",
      "id": "image_aspect_ratio",
      "label": "t:shared.settings.aspect_ratio.label",
      "options": [
        {
          "value": "natural",
          "label": "t:shared.settings.aspect_ratio.option_natural"
        },
        {
          "value": "portrait",
          "label": "t:shared.settings.aspect_ratio.option_portrait"
        },
        {
          "value": "portrait_alt",
          "label": "t:shared.settings.aspect_ratio.option_portrait_alt"
        },
        {
          "value": "square",
          "label": "t:shared.settings.aspect_ratio.option_square"
        },
        {
          "value": "landscape_alt",
          "label": "t:shared.settings.aspect_ratio.option_landscape_alt"
        },
        {
          "value": "landscape",
          "label": "t:shared.settings.aspect_ratio.option_landscape"
        }
      ],
      "default": "square"
    },
    {
      "type": "checkbox",
      "id": "image_circle_crop_enable",
      "label": "t:shared.settings.collection_listing.image_crop.label",
      "info": "t:shared.settings.collection_listing.image_crop.info",
      "default": false
    },
    {
      "type": "range",
      "id": "image_spacing",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "t:shared.settings.image_spacing.label",
      "default": 10
    },
    {
      "type": "select",
      "id": "title_font_type",
      "label": "t:shared.settings.typography.title_font.label",
      "options": [
        {
          "value": "body",
          "label": "t:shared.settings.typography.title_font.option_body"
        },
        {
          "value": "heading",
          "label": "t:shared.settings.typography.title_font.option_heading"
        }
      ],
      "default": "body"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:shared.settings.alignment_horizontal.text.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:shared.settings.alignment_horizontal.options.left"
        },
        {
          "value": "center",
          "label": "t:shared.settings.alignment_horizontal.options.center"
        },
        {
          "value": "right",
          "label": "t:shared.settings.alignment_horizontal.options.right"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:shared.settings.section_style.header_style.content"
    },
    {
      "type": "checkbox",
      "id": "section_style_enable_animation",
      "default": true,
      "label": "t:shared.settings.section_style.enable_animation.label",
      "info": "t:shared.settings.section_style.enable_animation.info"
    }
  ]
}
{% endschema %}
